main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 40%;
}

.checkbox {
    margin: 20px 0;
}

.enviar{
    width: 30%;
    padding: 15px 0;
    background: orange;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    transition: 1s all;
}

.enviar:hover{
    background: #FF802B;
    transform: scale(1.2);
}