/* body {
    
} */

#banner {
    width: 100%;
}

.principal {
    background: #ccc;
    padding: 30px;
}

p, h1, h2 {
    text-align: center;
}

em strong {
    color: red;
}

#missao {
    font-size: 20px;
}

.itens {
    font-style: italic;
}

.beneficios{
    background: #fff;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.img-benef {
    width: 50%;
}